.leftbar {
  height: calc(100vh - 60px);
  flex: 2;
  border: 1px solid #e4e7fe;
  position: sticky;
  top: 60px;
  left: 0;
  background-color: white;
}

.leftbar .container .item {
  display: flex;
  align-items: center;
  margin: 5px;
  border-radius: 12px;
  transition: 0.2s ease;
}

.item:hover {
  background-color: #e4e7fe;
}

.leftbar .container .item img {
  width: 12%;
  padding: 10px;
}
