.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  /* border-bottom: 1px solid lightslategrey; */
  box-shadow: 0px 0px 5px 5px #e4e7fe;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid lightslategrey;
  box-shadow: 0px 0px 3px 3px #e4e7fe;
}

.searchBar input {
  outline: none;
  width: 500px;
  border-radius: 15px;
  padding: 5px;
  border: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
